@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-y: hidden;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-button-prev {
	display: none !important;
}

.swiper-button-next {
	display: none !important;
}

.no-hidden-swiper-button .swiper-button-prev, .no-hidden-swiper-button .swiper-button-next {
	display: flex !important;
}

@media (min-width: 768px) {
	.swiper-button-prev {
		display: flex !important;
	}
	.swiper-button-next {
		display: flex !important;
	}
}
